# EDA

In [25]:
import numpy as np
import pandas as pd

import os
import glob

In [34]:
BASE_DIR = os.path.join(os.getcwd(), os.pardir)
DATA_DIR = os.path.join(BASE_DIR, 'data')

TYPE_LABEL = {'clicks':0, 'carts':1, 'orders':2}

## ファイルimport

In [37]:
def read_file_to_cache(f):
    df = pd.read_parquet(f)
    df.ts = (df.ts/1000).astype('int32')
    df['type'] = df['type'].map(TYPE_LABEL).astype('int8')
    return df

In [45]:
# # ================
# # sample_submission
# # ================
# path_sample_submission = os.path.join(BASE_DIR, 'data', 'original_data', 'sample_submission.csv')
# sample_sub = pd.read_csv(path_sample_submission)

# # ================
# # train/test parquet
# # ================
# train_paths = glob.glob(os.path.join(DATA_DIR, 'chunked_data', 'train_parquet', '*'))
# test_paths = glob.glob(os.path.join(DATA_DIR, 'chunked_data', 'test_parquet', '*'))
# # data_cache_train = {}
# # data_cache_test = {}
# # for p in train_paths: data_cache_train[p] = read_file_to_cache(p)
# # for p in test_paths: data_cache_test[p] = read_file_to_cache(p)

# ================
# validation file
# ================
train_paths = glob.glob(os.path.join(DATA_DIR, 'validation', 'train_parquet', '*'))
test_paths = glob.glob(os.path.join(DATA_DIR, 'validation', 'test_parquet', '*'))
test_label = os.path.join(DATA_DIR, 'validation', 'test_labels.parquet')
# validation_train = {}
# validation_test = {}
# for p in train_paths: validation_train[p] = read_file_to_cache(p)
# for p in test_paths: validation_test[p] = read_file_to_cache(p)
# validation_label = pd.read_parquet(test_label)

In [43]:
a

         session      aid          ts  type
0              0  1517085  1659304800     0
1              0  1563459  1659304904     0
2              0  1309446  1659367439     0
3              0    16246  1659367719     0
4              0  1781822  1659367871     0
...          ...      ...         ...   ...
4763712   110984   646038  1661023956     0
4763713   110984  1099427  1661024061     0
4763714   110985   573604  1659328485     0
4763715   110985  1644439  1659782912     0
4763716   110985   314992  1659782929     0

[4763717 rows x 4 columns]